# **Module 7 Task 1 - Chapter 10 Practice**
## **Author: Anthony Schomer**
## **GitHub: https://github.com/anythonyschomer**

### Loading the Average High Temperatures into a DataFrame

In [32]:
c = lambda f: 5 / 9 * (f - 32)

In [33]:
temps=[(f, c(f)) for f in range(0, 101, 10)]

In [34]:
import pandas as pd

In [35]:
temps_df = pd.DataFrame(temps, columns = ['Fahrenheit', 'Celsius'])

In [36]:
axes = temps_df. plot(x='Fahrenheit', y='Celsius', style='.-')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [ ]:
y_label = axes.set_ylabel('Celsius')

NameError: name 'axes' is not defined

In [ ]:
nyc = pd. read_csv('ave_hi_nyc_jan_1895-2018.csv')

In [ ]:
nyc.head()

     Date  Value  Anomaly
0  189501   34.2     -3.2
1  189601   34.7     -2.7
2  189701   35.5     -1.9
3  189801   39.6      2.2
4  189901   36.4     -1.0

In [ ]:
nyc.tail()

       Date  Value  Anomaly
119  201401   35.5     -1.9
120  201501   36.1     -1.3
121  201601   40.8      3.4
122  201701   42.8      5.4
123  201801   38.7      1.3

In [ ]:
nyc.columns = ['Date', 'Temperature', 'Anomaly']
nyc.head(3)

     Date  Temperature  Anomaly
0  189501         34.2     -3.2
1  189601         34.7     -2.7
2  189701         35.5     -1.9

In [ ]:
nyc.Date.dtype

dtype('int64')

In [ ]:
nyc.Date = nyc.Date.floordiv(100)
nyc.head(3)

   Date  Temperature  Anomaly
0    18         34.2     -3.2
1    18         34.7     -2.7
2    18         35.5     -1.9

In [ ]:
pd.set_option('precision', 2)

nyc.Temperature.describe()

OptionError: Pattern matched multiple keys

In [ ]:
from scipy import stats
linear_regression =  stats.linregress(x=nyc.Date, y=nyc.Temperature)

ModuleNotFoundError: No module named 'scipy'

In [ ]:
linear_regression.slope

NameError: name 'linear_regression' is not defined

In [ ]:
linear_regression.intercept

NameError: name 'linear_regression' is not defined

In [ ]:
linear_regression.slope * 2019 + linear_regression.intercept

In [ ]:
linear_regression.slope * 1890 + linear_regression.intercept

In [ ]:
import seaborn as sns